@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 10vh;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  font-size: calc(1.325rem + 0.9vw) !important;
}

.nav-item {
  margin: 0 5px 0 5px;
  font-size: 1.25rem !important;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.nav-item > .nav-link {
  display: inline-block;
}

.nav-item > .nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ff7f50;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.nav-item > .nav-link:hover:after {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

li > a {
  color: #57606f !important;
  font-weight: bold;
  font-size: 1.25rem;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.active {
  color: #ff7f50 !important;
  -webkit-transform: scale(110%) !important;
          transform: scale(110%) !important;
}

.bg-first {
  background-color: #fff;
  color: black;
}

.bg-second {
  background-color: #f2f2f6;
  color: black;
}

.snap-scroll {
  overflow: scroll;
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory !important;
      scroll-snap-type: y mandatory !important;
  overflow-y: scroll !important;
}

#home {
  overflow: auto;
  position: relative;
  background-size: cover;
  color: white;
  scroll-snap-align: start !important;
}

.section1--bg {
  background-image: url("svg/10808.jpg");
  width: 100vh !important;
}

#about {
  color: black;
  scroll-snap-align: start !important;
}

#experience {
  width: 100vw;
  color: black;
  scroll-snap-align: start !important;
}

#skill {
  height: 100%;
  width: 100%;
  color: black;
  scroll-snap-align: start !important;
}

#work {
  height: 25vh;
  width: 100vw;
  color: black;
  scroll-snap-align: start !important;
}

.list-group {
  list-style-type: none !important;
}

.timeline {
  width: 5rem !important;
  height: 1rem !important;
  overflow: visible !important;
}

.icon {
  width: 2rem !important;
  height: 2rem !important;
}

.fs {
  color: #2d3436;
  font-size: 1.5rem !important;
}

.date {
  color: #6f6f6f;
}

a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 12.5% !important;
            flex: 0 0 12.5% !important;
    max-width: 12.5% !important;
  }
}

@media (min-width: 1140px) {
  .quote {
    margin-top: 8rem !important;
    padding: 0 14rem 0 14rem !important;
  }
}

.card {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  margin: 10px;
  border-radius: 0.5rem;
}

.card:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.card:hover img {
  -webkit-filter: none;
          filter: none;
}

.card > img {
  width: 7rem !important;
  height: 7rem !important;
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}

.card > p {
  margin: 5px;
}

.hr {
  margin-left: 0 !important;
  border-top: 4px solid #ff7f50;
  border-radius: 5px;
  margin-bottom: 2rem !important;
}

.footer--icon {
  -webkit-filter: saturate(0%) brightness(70%) contrast(1000%);
          filter: saturate(0%) brightness(70%) contrast(1000%);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 37px;
  height: 37px;
}

.footer--icon:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.list-item {
  margin-bottom: 13px !important;
}

.outer-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 2px solid black;
}

.inner-circle {
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 14px;
  height: 14px;
  background-color: black;
}

.dot-circle {
  border-radius: 50%;
  -webkit-transform: translate(70%, 50%);
          transform: translate(70%, 50%);
  width: 14px;
  height: 14px;
  background-color: #edf2f7;
}

.outer-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
}

.line {
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #edf2f7;
  -webkit-transform: translate(25%, 0%);
          transform: translate(25%, 0%);
  left: 14px;
  top: 32px;
}
/*# sourceMappingURL=main.css.map */