@import url("https://fonts.googleapis.com/css2?family=Ubuntu");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap");

$roll: cubic-bezier(0.694, 0.048, 0.335, 1);

//Animate
[data-scroll="fade-up"] {
  transform: translateY(150%);
  opacity: 0;
  transition: all 0.5s ease;
}
.fade-up {
  transform: translateY(0%) !important;
  opacity: 1 !important;
  transition: all 0.5s ease !important;
}
[data-scroll="fade-right"] {
  transform: translateX(15%);
  opacity: 0;
  transition: all 0.75s ease;
}
[data-scroll="fade-left"] {
  transform: translateX(-15%);
  opacity: 0;
  transition: all 0.75s ease;
}
.fade-side {
  transform: translateX(0%) !important;
  opacity: 1 !important;
  transition: all 0.75s ease !important;
}
[data-scroll=zoom-out] {
  transform: scale(0.75);
  transform: all .75s ease;
}
.zoom-out {
  transform: scale(1);
  transition: all 0.75s ease !important;
}

[data="panel"]::after {
  content: "";
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 100%;
  height: 101%;
  clip-path: polygon(100% 0, 85% 100%, 100% 100%);
  background-color: white;
  z-index: 0;

}
.header-logo {
  background-image: linear-gradient(to right, #00f260, #f79d00, #0575e6, #64f38c);
  background-clip: text !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  background-size: 300%;
  background-position: -100%;
  animation: animateHeader 10s infinite;
}

@keyframes animateHeader {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}


html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 94px;
}
body {
  font-family: "Ubuntu", sans-serif !important;
}
button:focus {
  outline: none;
}
.navbar-toggler {
  .bars {
    width: 40px;
    height: 20px;
    position: relative;
    transition: transform 0.3 $roll;
    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: black;
      margin-top: 7px;
      &:first-child {
        margin-top: 0;
        transform: scaleX(1);
        transition: transform 0.2s $roll;
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        width: 65%;
        transition: width 0.2s $roll;
        transition-delay: 0.4s;
      }
    }
    .other-bar {
      width: 3px;
      height: 0;
      background-color: black;
      position: absolute;
      top: -8px;
      left: 50%;
      margin-left: -3px;
      transition: height 0.4s $roll;
      z-index: 10;
    }
  }
  &.is-menu-open {
    .bars {
      transform: rotate(45deg);
      transition: transform 0.6s $roll;
      span {
        &:first-child {
          transform: scaleX(0);
          transition: transform 0.2s $roll;
        }
        &:nth-child(3) {
          width: 0;
          transition: width 0.2s $roll;
        }
      }
      .other-bar {
        height: 40px;
        transition: height 0.2s $roll;
        transition-delay: 0.3s;
      }
    }
  }
}
.nav-item {
  .nav-link {
    &:after {
      display: block;
      content: "";
      border-bottom: solid 2px #ff7f50;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover::after {
      transform: scaleX(1) !important;
    }
  }
}

li > a {
  color: #57606f !important;
  font-weight: bold;
  font-size: 1.25rem;
}


.active {
  color: #ff7f50 !important;
  transform: scale(110%) !important;
}
.header-text {
  position: relative;
  display: inline-block !important;
  margin-bottom: 2rem !important;

  &::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 10%;
    width: 75%;
    background-color: #ff7f50;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 10%;
    width: 50%;
    background-color: #ff7f50;
  }
}

.bg-first {
  background-color: #fff;
  color: black;
}
.bg-second {
  background-color: #f2f2f6;
  color: black;
}
.snap-scroll {
  overflow: scroll;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory !important;
  overflow-y: scroll !important;
}
#home {
  overflow: auto;
  position: relative;
  background-size: cover;

  color: white;
  scroll-snap-align: start !important;
}
.section1--bg {
  background-image: url("svg/10808.jpg");
  width: 100vh !important;
}

#about {
  color: black;
  scroll-snap-align: start !important;
}
#experience {
  width: 100vw;
  color: black;
  scroll-snap-align: start !important;
}
#skill {
  height: 100%;
  width: 100%;
  color: black;
  scroll-snap-align: start !important;
}
#work {
  color: black;
  scroll-snap-align: start !important;
}

.timeline {
  width: 5rem !important;
  height: 1rem !important;
  overflow: visible !important;
}

.icon {
  width: 2rem !important;
  height: 2rem !important;
}
.fs {
  color: #2d3436;
  font-size: 1.5rem !important;
}
.date {
  color: #6f6f6f;
}

@media (min-width: 1140px) {
  .quote {
    margin-top: 5rem !important;
    padding: 0 14rem 0 14rem !important;
    overflow: hidden;
  }
}
.hr {
  margin-left: 0 !important;
  border-top: 4px solid #ff7f50;
  border-radius: 5px;
  margin-bottom: 2rem !important;
}

/*
  Edu n Exp Section
*/

.outer-circle {
  border-radius: 50%;

  width: 32px;
  height: 32px;
  background-color: white;
  border: 2px solid black;
}
.inner-circle {
  border-radius: 50%;

  transform: translate(50%, 50%);
  width: 14px;
  height: 14px;
  background-color: black;
}
.dot-circle {
  border-radius: 50%;

  transform: translate(70%, 50%);
  width: 14px;
  height: 14px;
  background-color: #edf2f7;
}
.outer-circle {
  border-radius: 50%;

  width: 32px;
  height: 32px;
  background-color: white;
}
.line {
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #edf2f7;
  transform: translate(25%, 0%);
  left: 14px;
  top: 32px;
}

/*
   Work Section
*/
.project-shadow {
  box-shadow: 0 20px 80px 0 rgba(black, 0.45) !important;
}
.project-box {
  display: block;
  overflow: hidden;
}
.project-box > img {
  width: 800px;
  height: 400px;

  transition: 0.2s ease-in-out;
}
.cover-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: " ";
  background: #1c1d25;
  opacity: 0.6;
  z-index: 10;
  transition: opacity 0.3s ease-in-out;
}
@media (max-width: 575px) {
  .project-box > img {
    object-fit: none;
    object-position: center;
  }
  .project {
    padding: 0 !important;
  }
  .project-shadow {
    margin: 0 1.5rem 0 1.5rem !important;
  }
  .info--section {
    bottom: 5% !important;
    left: 5% !important;

    &__right {
      bottom: 5% !important;
      right: 5% !important;
    }
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  .project {
    padding: 0 !important;
  }
  .project-shadow {
    margin: 0 1.5rem 0 1.5rem !important;
  }
  #p1::before {
    content: "01";
  }
  #p2::before {
    content: "02";
  }
  #p3::before {
    content: "03";
  }
  #p4::before {
    content: "04";
  }
  #p5::before {
    content: "05";
  }
  #p6::before {
    content: "06";
  }
  .project-number {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: -73px;
    right: -17px;
    font-size: 11.5625em !important;
    color: #99999d;
    overflow: hidden;
    font-weight: bolder !important;
    opacity: 0;
    z-index: 90;
    transition: opacity 0.5s ease-in-out;
  }
  .project-number__left {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: -73px;
    left: -20px;
    font-size: 11.5625em !important;
    color: #99999d;
    overflow: hidden;
    font-weight: bolder !important;
    opacity: 0;
    z-index: 90;
    transition: opacity 0.5s ease-in-out;
  }
}
@media (min-width: 992px) {
  .list-group {
    padding: 0 3rem 1.5rem 3rem;
  }
  #p1::before {
    content: "01";
  }
  #p2::before {
    content: "02";
  }
  #p3::before {
    content: "03";
  }
  #p4::before {
    content: "04";
  }
  #p5::before {
    content: "05";
  }
  #p6::before {
    content: "06";
  }
  .project-number {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: -73px;
    right: -17px;
    font-size: 11.5625em !important;
    color: #99999d;
    overflow: hidden;
    font-weight: bolder !important;
    opacity: 0;
    z-index: 90;
    transition: opacity 0.5s ease-in-out;


  }
  .project-number__left {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: -73px;
    left: -20px;
    font-size: 11.5625em !important;
    color: #99999d;
    overflow: hidden;
    font-weight: bolder !important;
    opacity: 0;
    z-index: 90;
    transition: opacity 0.5s ease-in-out;
  }
}
.project-mask {
  position: absolute;
  display: block;
  top: 0;
  height: 0%;
  background-color: black;
  background: linear-gradient(to bottom left, #ff7f50, black);
  width: 0%;
  opacity: 0.7;
  z-index: 80;
  transition: width 0.15s;
}
.info--section {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1000;
  transition: all 0.2s ease-in-out;

  &__right {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
  }
}
.btn-danger {
  background-image: linear-gradient(to right, #235aa6 0%, #ed4c67 51%, #235aa6 100%);
  border: none;
  outline: none;
  letter-spacing: 2px;
  filter: grayscale(25%);
  transition: 0.5s;
  background-size: 200% auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn-danger:hover {
  filter: none;
  background-position: right center;
  text-decoration: none;
}

.project-info:hover {
  .project-box > img {
    transform: scale(105%);
  }
  .project-number {
    zoom: 1;
    opacity: 1;
    color: white;
    transform: translateY(-10px);
    transition: opacity 0.3s, color 0.6s, transform 0.45s;
  }
  .project-mask {
    height: 100%;
    width: 100%;
  }
  .info--section {
    transform: scale(110%);
  }
}

.project-info__reverse:hover {
  .info--section__right {
    transform: scale(110%);
  }
  .project-number__left {
    zoom: 1;
    opacity: 1;
    color: white;
    transform: translateY(-10px);
    transition: opacity 0.3s, color 0.6s, transform 0.45s;
  }
  .project-box > img {
    transform: scale(105%);
  }
  .project-mask {
    height: 100%;
    width: 100%;
  }
}
/*
 Footer
*/
.footer--icon {
  filter: saturate(0%) brightness(70%) contrast(1000%);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 37px;
  height: 37px;

  &:hover {
    filter: none;
    transition-duration: 0.2s;
    transform: scale(110%);
  }
}
