@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 10vh;
}

body {
  font-family: "Ubuntu", sans-serif !important;
}

.nav-item > .nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ff7f50;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.nav-item > .nav-link:hover:after {
  -webkit-transform: scaleX(1) !important;
          transform: scaleX(1) !important;
}

li > a {
  color: #57606f !important;
  font-weight: bold;
  font-size: 1.25rem;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.active {
  color: #ff7f50 !important;
  -webkit-transform: scale(110%) !important;
          transform: scale(110%) !important;
}

.bg-first {
  background-color: #fff;
  color: black;
}

.bg-second {
  background-color: #f2f2f6;
  color: black;
}

.snap-scroll {
  overflow: scroll;
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory !important;
      scroll-snap-type: y mandatory !important;
  overflow-y: scroll !important;
}

#home {
  overflow: auto;
  position: relative;
  background-size: cover;
  color: white;
  scroll-snap-align: start !important;
}

.section1--bg {
  background-image: url("svg/10808.jpg");
  width: 100vh !important;
}

#about {
  color: black;
  scroll-snap-align: start !important;
}

#experience {
  width: 100vw;
  color: black;
  scroll-snap-align: start !important;
}

#skill {
  height: 100%;
  width: 100%;
  color: black;
  scroll-snap-align: start !important;
}

#work {
  color: black;
  scroll-snap-align: start !important;
}

.timeline {
  width: 5rem !important;
  height: 1rem !important;
  overflow: visible !important;
}

.icon {
  width: 2rem !important;
  height: 2rem !important;
}

.fs {
  color: #2d3436;
  font-size: 1.5rem !important;
}

.date {
  color: #6f6f6f;
}

@media (min-width: 1140px) {
  .quote {
    margin-top: 8rem !important;
    padding: 0 14rem 0 14rem !important;
  }
}

.hr {
  margin-left: 0 !important;
  border-top: 4px solid #ff7f50;
  border-radius: 5px;
  margin-bottom: 2rem !important;
}

/*
  Edu n Exp Section
*/
.outer-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 2px solid black;
}

.inner-circle {
  border-radius: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 14px;
  height: 14px;
  background-color: black;
}

.dot-circle {
  border-radius: 50%;
  -webkit-transform: translate(70%, 50%);
          transform: translate(70%, 50%);
  width: 14px;
  height: 14px;
  background-color: #edf2f7;
}

.outer-circle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: white;
}

.line {
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: #edf2f7;
  -webkit-transform: translate(25%, 0%);
          transform: translate(25%, 0%);
  left: 14px;
  top: 32px;
}

/*
   Work Section
*/
.project-shadow {
  -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45) !important;
          box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45) !important;
}

.project-box {
  display: block;
  overflow: hidden;
}

.project-box > img {
  width: 800px;
  height: 400px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.cover-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: " ";
  background: #1c1d25;
  opacity: 0.6;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media (max-width: 719px) {
  .project {
    padding: 0 !important;
  }
  .project-shadow {
    margin: 0 1.5rem 0 1.5rem !important;
  }
}

@media (min-width: 720px) {
  .list-group {
    padding: 0 3rem 1.5rem 3rem;
  }
  #p1::before {
    content: "01";
  }
  #p2::before {
    content: "02";
  }
  #p3::before {
    content: "03";
  }
  .project-number {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: -73px;
    right: -17px;
    font-size: 11.5625em !important;
    color: #99999d;
    overflow: hidden;
    font-weight: bolder !important;
    opacity: 0;
    z-index: 90;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .project-number__left {
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: -73px;
    left: -20px;
    font-size: 11.5625em !important;
    color: #99999d;
    overflow: hidden;
    font-weight: bolder !important;
    opacity: 0;
    z-index: 90;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
}

.project-mask {
  position: absolute;
  display: block;
  top: 0;
  height: 0%;
  background-color: black;
  background: -webkit-gradient(linear, right top, left bottom, from(#ff7f50), to(black));
  background: linear-gradient(to bottom left, #ff7f50, black);
  width: 0%;
  opacity: 0.7;
  z-index: 80;
  -webkit-transition: width 0.15s;
  transition: width 0.15s;
}

.info-section {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.info-section__right {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 1000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-danger {
  background-image: -webkit-gradient(linear, left top, right top, from(#235aa6), color-stop(51%, #ed4c67), to(#235aa6));
  background-image: linear-gradient(to right, #235aa6 0%, #ed4c67 51%, #235aa6 100%);
  border: none;
  outline: none;
  letter-spacing: 2px;
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-danger:hover {
  -webkit-filter: none;
          filter: none;
  background-position: right center;
  text-decoration: none;
}

.project-info:hover .project-box > img {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.project-info:hover .project-number {
  zoom: 1;
  opacity: 1;
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.3s, color 0.6s, -webkit-transform 0.45s;
  transition: opacity 0.3s, color 0.6s, -webkit-transform 0.45s;
  transition: opacity 0.3s, color 0.6s, transform 0.45s;
  transition: opacity 0.3s, color 0.6s, transform 0.45s, -webkit-transform 0.45s;
}

.project-info:hover .project-mask {
  height: 100%;
  width: 100%;
}

.project-info:hover .info-section {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.project-info__reverse:hover .info-section__right {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.project-info__reverse:hover .project-number__left {
  zoom: 1;
  opacity: 1;
  color: white;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.3s, color 0.6s, -webkit-transform 0.45s;
  transition: opacity 0.3s, color 0.6s, -webkit-transform 0.45s;
  transition: opacity 0.3s, color 0.6s, transform 0.45s;
  transition: opacity 0.3s, color 0.6s, transform 0.45s, -webkit-transform 0.45s;
}

.project-info__reverse:hover .project-box > img {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.project-info__reverse:hover .project-mask {
  height: 100%;
  width: 100%;
}

/*
 Footer
*/
.footer--icon {
  -webkit-filter: saturate(0%) brightness(70%) contrast(1000%);
          filter: saturate(0%) brightness(70%) contrast(1000%);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 37px;
  height: 37px;
}

.footer--icon:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}
/*# sourceMappingURL=main.css.map */